<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit product</h1>
    <form action="{% url 'update' product.id %}" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="title"
        placeholder="title"
        value="{{product.title}}"
        required
      />
      <input
        type="text"
        name="description"
        placeholder="description"
        value="{{product.description}}"
        required
      />
      <input
        type="number"
        name="price"
        placeholder="price"
        value="{{product.price}}"
        required
      />
      <input type="submit" />
    </form>
    <form
      action="{% url 'delete' product.id %}"
      method="post"
      onsubmit="return confirm('Are you sure delete it?')"
    >
      {% csrf_token %}
      <button>Delete</button>
    </form>
    <a href="{% url 'root' %}">back to Home</a>
  </body>
</html>
