<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>
    <ul>
      {% for product in products%}
      <li>
        {{product.title}}-{{product.description}}-${{product.price}}
        <a href="{% url 'edit' product.id %}">edit</a>
      </li>
      {% endfor %}
    </ul>

    <a href="{% url 'create' %}">create a new product</a>
  </body>
</html>
